<!-- dummy.html -->
<h1>H1 The quick brown fox jumps over the lazy dog.</h1>
<h2>H2 The quick brown fox jumps over the lazy dog.</h2>
<h3>H3 The quick brown fox jumps over the lazy dog.</h3>
<h4>H4 The quick brown fox jumps over the lazy dog.</h4>
<h5>H5 The quick brown fox jumps over the lazy dog.</h5>
<h6>H6 The quick brown fox jumps over the lazy dog.</h6>
<p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <a href="" title="een link" target="_self">een link</a> ex ea commodo consequat. 
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	<br/>
	<strong>Nieuwe lijn</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <a href="" title="een link" target="_self">een link</a> ex ea commodo consequat. 
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
	<strong>Nieuwe paragraaf</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <a href="" title="een link" target="_self">een link</a> ex ea commodo consequat. 
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	<br/>
	<strong>Nieuwe lijn</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <a href="" title="een link" target="_self">een link</a> ex ea commodo consequat. 
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<style>
	.test{
	background-color: #F00;
	}
	.test-me:hover{
	cursor:pointer;
	}
</style>

<div class="test-me">fgdfdgfdfg</div>

<h1>Radio CE</h1>
<div  data-type="radio" >
	<span data-ce="type:radio;name:observation-52;value:1;" class="h20px ce-radio no-default" ></span>
</div>
<h1>Radio CE</h1>
<div  data-type="radio" >
	 <label><span data-ce="type:radio;name:observation-52;value:1;" class="h20px ce-radio no-default" ></span>&lt;10 %</label>
	 <label><span data-ce="type:radio;name:observation-52;value:2;" class="h20px ce-radio no-default" ></span>&gt;=10 %</label>
</div>
<h1>Radio CE</h1>
<div  data-type="radio" >
	 <label><span data-ce="type:radio;name:observation-52;value:1;" class="h20px ce-radio" ></span>&lt;10 %</label>
	 <label><span data-ce="type:radio;name:observation-52;value:2;" class="h20px ce-radio" ></span>&gt;=10 %</label>
</div>
<h1>Check CE</h1>
 <label><span data-ce="type:check;name:observation-304;value:1;" class="h20px ce-check" ></span>Groeien er onvoldoende bomen en houtige gewassen langs de beek?</label>
<h3>Een lijst</h3>
<ul>
	<li>Een </li>
	<li>Twee </li>
	<li>Drie</li>
</ul>
<h3>Een lijst</h3>
<p>
	<ul>
		<li>Een</li>
		<li>Twee</li>
		<li>Drie</li>
	</ul>
</p>
<ol>
	<li>Eee</li>
	<li>Twee</li>
	<li>Drie</li>
</ol>

<h6><i>dummy content.</i></h6>
<h6><i>url: {$url}</i></h6>
<h6><i>depth: {$depth}</i></h6>