<!-- template: fe.new.account.html -->
<form id="request-account" class="fe" action="{$path}registatie" method="post"> 
	<div class="grid G12">
		<div class="col  W12">   	
			<h2>{$title}<span class="sub">{$entry}</span></h2>
			<label for="email" >Email</label>
			<input type="email" id="email" name ="email" placeholder="email" required value="{$email}" />
		
			<p class="msg{$warning}">{$msg}</p>
			<div class="clearfix"></div>
			<button type="submit" class="btn">vraag aan</button>
			<div class="clearfix"></div>
			<input type="hidden" name="state" value ="registration"/>
		</div>
	</div>
</form>
<!-- END template: fe.new.account.html -->