<!-- form.calculation_alg.html -->
<table id="calculation_alg">
	<thead>
		<tr>
			<th width="40px">positie</th>
			<th width="240px">naam</th>
			<th width="100px">calculatie</th>			
			<th>parameters</th>			
			<th colspan="2" class="txt-r">article</th>
			<th colspan="2" class="txt-r">calc</th>
			<th width="50px"><a href="#" data-sa="onClick:calculation.algorithms.add;" title="Klik om een nieuwe regel aan het algoritme toe te voegen.">nieuw</a></th>
		</tr>
	</thead>
	{$tbody|t}
</table>
<input type="hidden" name ="alg_to_delete" value="" />
<!-- form.calculation_alg.html -->