<!-- form.article.html -->
{$header|t}
<form id="{$table}-ar" class="admin" method="post" action="{$application_path}admin/articles/_save" data-callback="article.save_callback">
    <div class= "w600">
		<a class="btn" data-sa="reload">cancel</a>
		<label><span>publicatie status</span><span data-sa="onClick:admin.toggle_publish;name:article;id:{$ar.ID};" class="{$class_publish}"></span></label>
		<h3 class="margin-top-20">ID: {$ar.ID}</h3>
		<label >Naam</label>
		<input  type="text" name="name" value ="{$ar.name}" placeholder="naam" required>
		<label >Path</label>
		<input  type="text" name="path" value ="{$ar.path}" placeholder="alleen letters, cijfers en &#34;_&#34;" pattern="^[_a-zA-Z0-9]+$">
		<label>Categorie</label>
		{$select_category|t}
	</div>
	<label for="content">Text</label>
	<div class= "ident-10">
		<div>
			<nav data-sa="popup:image;" class="btn"  title="Voeg een afbeelding toe" >afbeelding</nav>
			<nav data-sa="popup:note;" class="btn bg-obn-blue"  title="Voeg een link naar een begrip toe" >begrip</nav>
			<nav data-sa="popup:reference;" class="btn btn bg-obn-purper" title="Voeg een link naar een literatuurbron" >literatuur</nav>
			<nav data-sa="popup:article;" class="btn bg-obn-green"  title="Voeg een link naar een ander artikel toe" >artikel</nav>
			<nav data-sa="popup:calculation;" class="btn bg-obn-brown"  title="Voeg een link naar een berekening" >berekening</nav>
		</div>
		<textarea id="content" name="content" placeholder="text">{$ar.content}</textarea>
	</div>
	<div class= "w600">
		<p class="msg ui-closed"></p>
		<input  type="submit" value="save">
	</div>
	<input type="hidden" name ="ID" value="{$ar.ID}"/>
	<input type="hidden" name ="recordname" value="{$record_name}"/>
	<input type="hidden" name ="table" value="article"/>
	<input type="hidden" name ="root_path" value="{$root_path}" />
</form>
<!-- form.article.html -->