<!-- tools.info.html -->
<h2>Tools  voor &quot;{$application}&quot;.</h2>
<p class="max-width-600">
	Tools zijn scripts voor het uitvoeren van een batch proces.<br/> 
	Als er een conversiescript voor een sleutle aanwezig is kan met &quot;<a href="{$path_}admin/tools/csv_convert" title="Het omzetten van een willekeurige csv bestanden in csv bestanden geschikt voor een import." target="_self">convert</a>&quot; een set van csv-bestanden omgezet
	worden in een set csv-bestanden in het juiste formaat voor import. Met &quot;<a href="{$path_}admin/tools/csv_import" title="Het importeren van csv bestanden" target="_self">import</a>&quot; kan dit bestand vervolgens
	worden ingelezen
	
</p>
<nav class="menu  max-width-100">
	<a href="{$path_}admin/tools/csv_convert" title="Het omzetten van een willekeurige csv bestanden in csv bestanden geschikt voor een import." target="_self">convert</a>
	<a href="{$path_}admin/tools/csv_import" title="Het importeren van csv bestanden" target="_self">import</a>
		<a href="{$path_}admin/tools/csv_export" title="Het exporteren van csv bestanden" target="_self">export</a>
</nav>
<!-- tools.info.html -->
