/*	_assets/sass/_classes.color.scss */

/*	Background Color classes:*/

	
	.bg-transparent, .admin  .btn.bg-transparent, 		{background-color: transparent !important;}
	
	.bg-obn-green, .admin  .btn.bg-obn-green 			{ background-color:	#A3AF26;		color: #FFF; }
	.bg-obn-blue, .admin  .btn.bg-obn-blue				{ background-color:	#006888;		color: #FFF; }
	.bg-obn-brown, .admin .btn.bg-obn-brown 			{ background-color: #953E07;		color: #FFF; } 
	.bg-obn-purper, .admin .btn.bg-obn-purper 			{ background-color:	#8A1FBC;		color: #FFF; }
	.bg-obn-red, .admin .btn.bg-obn-red  				{ background-color:	#BC261F;		color: #FFF; }
	.bg-obn-shadegreen, .admin .btn.bg-obn-shadegreen	{ background-color:	#C8CF7D;}
 	.bg-obn-shadeblue, .admin .btn.bg-obn-shadeblue 	{ background-color:	#D0F4F4;}
	
	.obn-green 		{ color:	#A3AF26; }
	.obn-blue 		{ color:	#006888; }
	.obn-brown 		{ color: 	#953E07; } 
	.obn-purper 	{ color:	#8A1FBC; }
	.obn-red  		{ color:	#BC261F; }
	.obn-shadegreen	{ color:	#C8CF7D; }
 	.obn-shadeblue 	{ color:	#D0F4F4; }