/*	_assets/sass/_observation.scss */

/*	Styling for a observation */

div.observation {
	
	padding:5px;
	width: 96%;
	margin: 0 auto 10px auto;

	border: solid thin $green;
	
	
}

div.observation div,
div.observation p,
div.observation li,
div.observation h3

{
		font-size:12px; 
	
		line-height:1.4;
		margin: 0 0 2px 0;
	
	}
	
div.observation h2 {

	font-size:12px; 
	color: $blue;
	margin: 0 0 5px 0;
	
}

div.observation h3{

	margin: 5px 0 5px 0;

}

div.observation label {
	display:block;
	font-size:12px;
	clear: both;
	line-height:2;
}

div.observation label span.ce-radio,
div.observation label span.ce-check {
	display:block;
	margin-right:12px;
	margin-top:2px;
	float:left;
	
}

div.observation input{
	display:block;
	clear:both;
	width:200px;
	
	text-align:right;
	font-size:12px;
	float:right;
}

div.observation:after{
	content:'';
	display:block;
	clear:both;
	float:none;
	
}






	